/*imports 
General 
Mobile 
Larger(er)Screens */

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');



/*2.General Rules*/
h1,h2,h3,h4,h5,h6{
    font-family:Sanista, sans-serif;
}

h1 {
    color: black;
}

div {
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
  }