/*imports 
General 
Mobile 
Larger(er)Screens */

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');


/*2.General Rules*/
h1,h2,h3,h4,h5,h6{
    font-family:Sanista, sans-serif;
}
html{
    box-sizing: border box;
}

}
h1 {
    color: black;
}

header {
    width: 300px;
    margin: 20px;
}