
/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');




/*2.General Rules*/
h1{
    font-family:Sanista, sans-serif;
    }

.name{
    font-size: 18px;
    display:none;
    /*	line-height: 1.25;*/
} 





@media (min-width: 800px) {
	body {
        font-size: 1.25em;
    }