
/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
@import url('normalize.css');




/*2.General Rules*/
h1{
    font-family:Sanista, sans-serif;
    }

.name{
    font-size: 18px;
    /*	line-height: 1.25;*/
} 

.pictures {
    width:400px;
    height:400px;
}



