
 /*imports 
   General 
  Mobile 
  Larger(er)Screens/ *

/* 1. Imports */
  @import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
 /* @import url("normalize.css"); */


/* General rules/* */
body{
  background-image:URL(../images/site/background.jpg);
background-repeat: no-repeat;
background-size:cover;
 margin:0 50px;
}
#box{
  width:100%;
}

main, header , footer{
  background-color:white;
  background-size:cover;
  
}
main, footer {
  padding:10px;;
}
h1, hr{
  margin-top: 0;
}
footer{
  text-align: center;
}


hr{
  background-color: black;
  height:1mm;
}
#content {
    background-color:#de2226; 
  flex-wrap: wrap;
  width: 100%;
  height:10mm;
 margin: 0;
  padding: 0;
  }
  nav ul {
    justify-content: space-evenly;
    font-size:20px;
    list-style-type: none;
    display:inline-block;
    display:flex;
  }
  /* nav li{
   
  } */
  
nav a{
  color:white;
  text-decoration: none;
}

  #rabbit img {
   width:10%;
   
  }

#rocket li{
  list-style-type:none;
  color:#990033;
  
}
#main{
  position: relative;
}

#feature {
  font-size:20pt;
}
 /* #review{
margin-left:500px;

} */

.hide{
  display:none;
}
/* The second Section of the css */
#categoryN {
  font-size:50pt;
  color: #000000;
  padding:0px;
}  
#categoryI{
  height:22em;
  width:24em;
}
#line {
  display: flex;
}
#description{
  font-size:20pt;
  justify-content: center;
  padding:30px;
}
#right{
  margin-left: 500px;
}
    
#price{
  color:red;
  font-size:50pt;
}

#images{
  width: 89%;
  padding: 5px;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto;

}
.box1{
  grid-column-start: 1;
  grid-column-end:2 ;
}
.box3{
  grid-column-start: 1;
  grid-column-end:2 ;
}
  
/* mobile rules */
#box img{
  width:68%;
}
nav li {
  padding: 3px;
  font-size: 8pt;
}
#content {
  height: 5mm;
}

#rocket {
  position: absolute;
    top: 54px;
    right: 12px;
    font-size: 5pt;
    background-color:rgba(255,255,255,0.5);
}
#actionbtn{
  width:100px;
}

#rabbit img {
  width:100%;

}
#welcome{
  font-size: 18pt;
}



   /* large wireframe  */
   @media screen and (min-width:600px){

    #box img{
      width:30%;
    }
    nav li {
    padding: 3px;
    font-size: 20px;
  }
    #content {
      height: 10mm;
    }

    #rocket {
      position: absolute;
      top: 50px;
      right: 20px;
      font-size: 20pt;
      background-color:rgba(255,255,255,0);
    }
    #actionbtn{
      width:200px;
   }
 
   #welcome{
    font-size: 25pt;
   }

   .boxes{
    width: 300px;
   /* height: 100px; */
  text-align: center;
  text-decoration: underline;
   color:#0000ee;
   /* justify-content:space-between; */
  }
  #inline{
    display:flex;
    flex-flow: row-reverse;
    padding:30px; 
  
  }
 #images {
   width:50%;
   padding:0;
   margin:0;
   grid-column-gap:0px;
 }
 }