
 /*imports 
   General 
  Mobile 
  Larger(er)Screens/ *

/* 1. Imports */
  @import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
 @import url("normalize.css");


/* General rules/* */
body{
  background-image:URL(../images/site/background.jpg);
background-repeat: no-repeat;
background-size:cover;
margin-right: 10px;
}
#white {
  background-color:white;
  display: flex-grow;
  background-size:300px - 100px;

}
hr{
  background-color: black;
  height:1mm;
}
#box {
display: flex-grow;

}
#ul {
    background-color: red;
    float: left;
}
/* mobile rules *


  /* large wireframe /*